/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

@font-face{
  font-family: 'Accuratist';
  src: url('src/assets/fonts/9689.otf');
}

@font-face{
  font-family: 'Bauhaus 93';
  src: url('src/assets/fonts/BAUHS93.TTF');
}
